@charset "UTF-8";
:root {
  --size: 50;
  --unit: calc((var(--size) / 500) * 1vmin);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: "canon";
  src: url(/font/CANON.ttf);
}

@font-face {
  font-family: "citizen";
  src: url(/font/ufonts.com_proforma-semibold.ttf);
}

body {
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.Centering, .akira-container, .akira-container .front-tire__rim, .akira-container .front-tire__wheel, .akira-container .back-tire__wheel, .akira-container .back-tire__wheel__center, .akira-container .back-tire__b-screw__inner, .akira-container .back-tire__s-screw__inner, .akira-container .body-tank__screw__inner, .akira-container .body-tank__screw__inner__line, .akira-container .front-fender__inner__logo__circle, .akira-container .front-fender__inner__logo__circle::before, .akira-container .front-fork .bnw__inner, .akira-container .front-deck3__handle::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.akira-container {
  position: fixed;
  width: calc(900 * var(--unit));
  height: calc(500 * var(--unit));
  border: 1px solid #000;
}

.akira-container .big-shadow {
  width: 85%;
  height: 14%;
  background: radial-gradient(rgba(32, 21, 14, 0.8) 30%, transparent);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  position: absolute;
  top: 79%;
  left: 50%;
  -webkit-transform: translate(-50%, -79%);
          transform: translate(-50%, -79%);
  border-radius: 50%;
}

.akira-container .front-tire {
  position: absolute;
  bottom: calc(120 * var(--unit));
  left: calc(60 * var(--unit));
  width: calc(180 * var(--unit));
  height: calc(180 * var(--unit));
  border-radius: 50%;
  background: #242525;
  -webkit-box-shadow: 1px 1px 10px -2px #e0e5e9 inset, -5px -5px 10px black inset;
          box-shadow: 1px 1px 10px -2px #e0e5e9 inset, -5px -5px 10px black inset;
}

.akira-container .front-tire__rim {
  position: absolute;
  width: 71%;
  height: 71%;
  border-radius: 50%;
  background: #6b6b6b;
}

.akira-container .front-tire__wheel {
  position: absolute;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  overflow: hidden;
  background: #ea3c13;
  background: radial-gradient(circle at 10px 10px, #ea6c57, #ea3c13, #8f2814, #782322);
  -webkit-box-shadow: -5px -5px 15px #3c1211 inset;
          box-shadow: -5px -5px 15px #3c1211 inset;
}

.akira-container .front-tire__wheel:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.8;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 2;
}

.akira-container .front-tire__wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(calc(-40 * var(--unit))) translateY(calc(-40 * var(--unit))) skewX(-20deg);
          transform: translateX(calc(-40 * var(--unit))) translateY(calc(-40 * var(--unit))) skewX(-20deg);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

.akira-container .front-tire__wheel .shoei {
  position: absolute;
  top: 70%;
  left: 20%;
  background: #fff;
  border-top: calc(3 * var(--unit)) solid purple;
  border-bottom: calc(3 * var(--unit)) solid purple;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  padding: 0 calc(3 * var(--unit));
  letter-spacing: calc(1 * var(--unit));
  color: purple;
  font-size: calc(17 * var(--unit));
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.akira-container .back-tire {
  position: absolute;
  bottom: calc(120 * var(--unit));
  right: calc(60 * var(--unit));
  width: calc(200 * var(--unit));
  height: calc(200 * var(--unit));
  border-radius: 50%;
  background: #242525;
  -webkit-box-shadow: 2px 2px 10px #879aa9 inset, -5px -5px 10px black inset;
          box-shadow: 2px 2px 10px #879aa9 inset, -5px -5px 10px black inset;
}

.akira-container .back-tire__wheel {
  position: absolute;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background: radial-gradient(circle at 10px 10px, #fa7e61, #ea6c57, #ea3c13, #8f2814, #782322);
}

.akira-container .back-tire__wheel__center {
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: linear-gradient(-200deg, #ea6c57, #ea3c13, #8f2814);
}

.akira-container .back-tire__b-screw {
  position: absolute;
  top: 30%;
  left: 63%;
  width: calc(32 * var(--unit));
  height: calc(32 * var(--unit));
  border-radius: 50%;
  background: #8f2814;
  background: radial-gradient(circle at 10px 10px, #fa7e61, #ea6c57, #ea3c13, #8f2814, #782322);
}

.akira-container .back-tire__b-screw__inner {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #ea3c13;
}

.akira-container .back-tire__s-screw {
  position: absolute;
  top: 70%;
  left: 45%;
  width: calc(22 * var(--unit));
  height: calc(22 * var(--unit));
  border-radius: 50%;
  background: #8f2814;
  background: radial-gradient(circle at 5px 5px, #fa7e61, #ea6c57, #ea3c13, #8f2814, #782322);
}

.akira-container .back-tire__s-screw__inner {
  position: absolute;
  width: 79%;
  height: 79%;
  border-radius: 50%;
  background: #ea3c13;
}

.akira-container .back-tire-arm {
  position: absolute;
  top: calc(182 * var(--unit));
  right: calc(178 * var(--unit));
  width: calc(100 * var(--unit));
  height: calc(130 * var(--unit));
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: 10;
}

.akira-container .back-tire-arm__first {
  position: absolute;
  bottom: 18%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: calc(70 * var(--unit));
  height: calc(60 * var(--unit));
  background: #8f2814;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #ea6c57), color-stop(22%, #ea3c13), color-stop(78%, #ea3c13), color-stop(80%, #8f2814));
  background: linear-gradient(-90deg, #ea6c57 20%, #ea3c13 22%, #ea3c13 78%, #8f2814 80%);
}

.akira-container .back-tire-arm__second {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  margin-bottom: 1rem;
  width: calc(70 * var(--unit));
  height: calc(50 * var(--unit));
  background: #782322;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #ea6c57), color-stop(22%, #ea3c13), color-stop(78%, #ea3c13), color-stop(80%, #8f2814));
  background: linear-gradient(-90deg, #ea6c57 20%, #ea3c13 22%, #ea3c13 78%, #8f2814 80%);
  -webkit-box-shadow: 0px 4px 3px #782322;
          box-shadow: 0px 4px 3px #782322;
}

.akira-container .back-tire-arm__third {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin-bottom: 1rem;
  width: calc(70 * var(--unit));
  height: calc(48 * var(--unit));
  background: #8f2814;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(79%, #ea3c13), color-stop(85%, #d23611));
  background: linear-gradient(0deg, #ea3c13 79%, #d23611 85%);
  -webkit-box-shadow: 0px 2px 3px #782322;
          box-shadow: 0px 2px 3px #782322;
}

.akira-container .back-tire-arm__third::before, .akira-container .back-tire-arm__third::after {
  content: "";
  position: absolute;
  top: 12%;
  left: 0%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
  margin-bottom: 1rem;
  width: calc(36 * var(--unit));
  height: calc(36 * var(--unit));
  background: #8f2814;
  border-radius: 2px;
}

.akira-container .back-tire-arm__third::before {
  background: linear-gradient(-135deg, transparent 47%, #dc3812 48%);
}

.akira-container .back-tire-arm__third::after {
  left: 100%;
  background: linear-gradient(45deg, transparent 47%, #ea6c57 48%);
}

.akira-container .middle-display1 {
  position: absolute;
  bottom: 53%;
  left: 42%;
  width: calc(60 * var(--unit));
  height: calc(30 * var(--unit));
  background: #8f2814;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.akira-container .seat-front {
  position: absolute;
  bottom: 44%;
  left: 49.5%;
  width: calc(80 * var(--unit));
  height: calc(30 * var(--unit));
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background: linear-gradient(200deg, #7d3709, #3b2710 70%);
  -webkit-box-shadow: 2px 2px 4px 1px #c15027 inset;
          box-shadow: 2px 2px 4px 1px #c15027 inset;
}

.akira-container .seat {
  position: absolute;
  bottom: 35%;
  left: 57%;
  width: calc(70 * var(--unit));
  height: calc(200 * var(--unit));
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.akira-container .seat__bottom {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: calc(70 * var(--unit));
  height: calc(40 * var(--unit));
  background: #7d3709;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  border-radius: 20% 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #7d3709), color-stop(30%, #3b2710));
  background: linear-gradient(#7d3709 10%, #3b2710 30%);
  -webkit-box-shadow: 1px 1px 2px 1px #81361a inset;
          box-shadow: 1px 1px 2px 1px #81361a inset;
}

.akira-container .seat__bottom__kubomi {
  position: absolute;
  top: 8%;
  left: 10%;
  width: calc(33 * var(--unit));
  height: calc(18 * var(--unit));
  background: #f17d55;
  border-radius: 40% 40% 30% 30%;
  background: radial-gradient(circle at 5px 5px, #3b2710, #7d3709);
  -webkit-box-shadow: 2px 2px 5px -2px #7d3709 inset, -2px -2px 4px 0px #81361a inset, 2px 2px 5px 0px #7d3709;
          box-shadow: 2px 2px 5px -2px #7d3709 inset, -2px -2px 4px 0px #81361a inset, 2px 2px 5px 0px #7d3709;
}

.akira-container .seat__back {
  position: absolute;
  bottom: 12%;
  right: 5%;
  width: 16%;
  height: 78%;
  background: #7d3709;
  background: linear-gradient(160deg, #4f3415 70%, #c15027 72%, #733308 74%);
  -webkit-box-shadow: 2px 2px 2px 0px #7d3709 inset;
          box-shadow: 2px 2px 2px 0px #7d3709 inset;
}

.akira-container .seat__head {
  position: absolute;
  top: -6%;
  left: 93%;
  width: 16%;
  height: 20%;
  background: #4f3415;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  border-radius: 0 0 0 3px;
}

.akira-container .body-tank {
  position: absolute;
  top: 46%;
  left: 33%;
  width: calc(210 * var(--unit));
  height: calc(121 * var(--unit));
  background: #782322;
  border-radius: 0% 0% 70% 20% / 0% 0% 70% 20%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  background: linear-gradient(200deg, #ea3c13 10%, #8f2814 40%, #782322);
  -webkit-box-shadow: 1px 4px 4px 1px #cc3319 inset;
          box-shadow: 1px 4px 4px 1px #cc3319 inset;
}

.akira-container .body-tank__screw {
  position: absolute;
  top: -16%;
  left: 40%;
  width: calc(45 * var(--unit));
  height: calc(45 * var(--unit));
  border-radius: 50%;
  background: #ea6c57;
  background: linear-gradient(200deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 0px 4px 3px -2px #e75840 inset;
          box-shadow: 0px 4px 3px -2px #e75840 inset;
}

.akira-container .body-tank__screw__inner {
  position: absolute;
  width: 75%;
  height: 75%;
  background: #ea3c13;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(200deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 2px 4px 3px -1px #fa7e61 inset, -2px -4px 2px 0px #782322 inset, 3px 2px 5px 1px #8f2814;
          box-shadow: 2px 4px 3px -1px #fa7e61 inset, -2px -4px 2px 0px #782322 inset, 3px 2px 5px 1px #8f2814;
}

.akira-container .body-tank__screw__inner__line {
  position: absolute;
  width: 20%;
  height: 100%;
  background: #8f2814;
  background: linear-gradient(200deg, #ea3c13 10%, #b33219);
  -webkit-box-shadow: 3px 0px 3px -1px #782322 inset, -2px 0px 2px -1px #ea3c13 inset;
          box-shadow: 3px 0px 3px -1px #782322 inset, -2px 0px 2px -1px #ea3c13 inset;
}

.akira-container .body-seat {
  position: absolute;
  top: calc(100 * var(--unit));
  left: calc(270 * var(--unit));
  width: calc(470 * var(--unit));
  height: calc(260 * var(--unit));
}

.akira-container .body-seat__step1 {
  position: absolute;
  bottom: 25.3%;
  left: 0.4%;
  width: calc(70 * var(--unit));
  height: calc(20 * var(--unit));
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  overflow: hidden;
  background: linear-gradient(-3deg, #ea3c13 50%, transparent 50%);
  -webkit-box-shadow: 0px -2px 5px 0px #782322 inset;
          box-shadow: 0px -2px 5px 0px #782322 inset;
}

.akira-container .body-seat__step2 {
  position: absolute;
  bottom: 7.5%;
  left: 9.8%;
  width: calc(95 * var(--unit));
  height: calc(19 * var(--unit));
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  overflow: hidden;
  background: linear-gradient(-5deg, #ea3c13 80%, transparent 80%);
  -webkit-box-shadow: -1px -4px 4px -2px #782322 inset;
          box-shadow: -1px -4px 4px -2px #782322 inset;
}

.akira-container .body-seat__bottom {
  position: absolute;
  bottom: 0%;
  left: 35%;
  width: calc(100 * var(--unit));
  height: calc(20 * var(--unit));
  background: #ea3c13;
}

.akira-container .body-seat__bottom-box {
  position: absolute;
  bottom: 0%;
  left: 28%;
  width: calc(120 * var(--unit));
  height: calc(70 * var(--unit));
  background: #ea3c13;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #ea3c13), color-stop(98%, #8f2814));
  background: linear-gradient(#ea3c13 90%, #8f2814 98%);
}

.akira-container .body-seat__bottom-box__inner {
  position: absolute;
  bottom: 49%;
  left: -19%;
  width: calc(150 * var(--unit));
  height: calc(70 * var(--unit));
  background: #782322;
  border-radius: 50%;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  background: linear-gradient(265deg, #ea3c13 30%, #8f2814 65%, #822412);
}

.akira-container .body-seat__circle {
  position: absolute;
  bottom: 0%;
  left: 47%;
  width: calc(90 * var(--unit));
  height: calc(80 * var(--unit));
  border-radius: 50%;
  background: #ea3c13;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.akira-container .body-seat__back {
  position: absolute;
  top: 25%;
  left: 65%;
  width: calc(40 * var(--unit));
  height: calc(130 * var(--unit));
  background: #ea3c13;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(63%, #ea3c13), color-stop(65%, #ea6c57), color-stop(75%, #ea3c13));
  background: linear-gradient(0deg, #ea3c13 63%, #ea6c57 65% 72%, #ea3c13 75%);
}

.akira-container .body-seat__back::before {
  content: "";
  position: absolute;
  top: -22%;
  right: 3%;
  width: calc(30 * var(--unit));
  height: calc(40 * var(--unit));
  background: #ea3c13;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  background: linear-gradient(25deg, #ea3c13 30%, #ed471f);
}

.akira-container .body-seat__back__head {
  position: absolute;
  top: -48%;
  left: 48%;
  width: calc(84 * var(--unit));
  height: calc(50 * var(--unit));
  background: #ea3c13;
  border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  overflow: hidden;
  background: linear-gradient(60deg, #ea3c13 20%, #8f2814);
  -webkit-box-shadow: 0px 5px 3px -2px #ea6c57 inset, -3px -4px 3px 0px #782322 inset;
          box-shadow: 0px 5px 3px -2px #ea6c57 inset, -3px -4px 3px 0px #782322 inset;
}

.akira-container .body-seat__back__head__light {
  position: absolute;
  top: -5%;
  left: 30%;
  width: calc(40 * var(--unit));
  height: calc(25 * var(--unit));
  background: #782322;
  border-radius: 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  overflow: hidden;
  border-bottom: 2px solid #ea6c57;
  border-left: 1px solid #fa7e61;
  background: linear-gradient(340deg, #ea3c13, #782322);
}

.akira-container .body-seat__back__head__light__inner {
  position: absolute;
  top: 60%;
  left: -10%;
  width: calc(30 * var(--unit));
  height: calc(20 * var(--unit));
  background: #ea3c13;
  border-radius: 50%;
  background: linear-gradient(60deg, #ea3c13 20%, #8f2814);
  -webkit-box-shadow: 3px 2px 3px -1px #ea6c57 inset;
          box-shadow: 3px 2px 3px -1px #ea6c57 inset;
}

.akira-container .body-seat__back-bottom {
  position: absolute;
  top: 65%;
  left: 63%;
  width: calc(50 * var(--unit));
  height: calc(60 * var(--unit));
  background: #ea3c13;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.akira-container .body-seat__s-side-part {
  position: absolute;
  bottom: -1%;
  left: 47%;
  width: calc(80 * var(--unit));
  height: calc(40 * var(--unit));
  background: #ea3c13;
  border-radius: 80% 30% 30% 10%/ 85% 50% 50% 10%;
  background: linear-gradient(170deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 3px 2px 3px -1px #ea6c57 inset, 2px -4px 2px 0px #782322 inset;
          box-shadow: 3px 2px 3px -1px #ea6c57 inset, 2px -4px 2px 0px #782322 inset;
}

.akira-container .body-seat__s-side-part__screw {
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  width: calc(30 * var(--unit));
  height: calc(30 * var(--unit));
  border-radius: 50%;
  background: #8f2814;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ea3c13), to(#982b15));
  background: linear-gradient(180deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 3px 3px 3px 1px #8f2814 inset, -3px -2px 1px 0px #ea3c13 inset;
          box-shadow: 3px 3px 3px 1px #8f2814 inset, -3px -2px 1px 0px #ea3c13 inset;
}

.akira-container .body-seat__b-side-part {
  position: absolute;
  bottom: 3%;
  left: 61%;
  width: calc(80 * var(--unit));
  height: calc(50 * var(--unit));
  background: lawngreen;
  border-radius: 100% 65% 56% 60% / 100% 67% 81% 60%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: linear-gradient(170deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 2px 4px 3px -1px #ea6c57 inset, -2px -4px 2px 0px #782322 inset;
          box-shadow: 2px 4px 3px -1px #ea6c57 inset, -2px -4px 2px 0px #782322 inset;
}

.akira-container .body-seat__b-side-part__screw {
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  border-radius: 50%;
  background: #8f2814;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ea3c13), to(#982b15));
  background: linear-gradient(180deg, #ea3c13 20%, #982b15);
  -webkit-box-shadow: 5px 5px 3px 1px #8f2814 inset, -4px -4px 1px 0px #ea3c13 inset;
          box-shadow: 5px 5px 3px 1px #8f2814 inset, -4px -4px 1px 0px #ea3c13 inset;
}

.akira-container .front-fender {
  position: absolute;
  top: 31.5%;
  left: 17.5%;
  width: calc(225 * var(--unit));
  height: calc(50 * var(--unit));
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  overflow: hidden;
}

.akira-container .front-fender__inner {
  position: absolute;
  bottom: -10%;
  left: -2%;
  width: 200%;
  height: 200%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  border-radius: 75% 0 0 0;
  background: radial-gradient(farthest-corner at calc(150 * var(--unit)) calc(-120 * var(--unit)), transparent 65%, #fa7e61 66%, #ea3c13 65%, #8f2814 75%, #782322 85% 100%);
  -webkit-box-shadow: 5px 0px 3px 0px #fa7e61 inset;
          box-shadow: 5px 0px 3px 0px #fa7e61 inset;
}

.akira-container .front-fender__inner__logo {
  position: absolute;
  bottom: 8%;
  left: 4%;
  width: calc(45 * var(--unit));
  height: calc(18 * var(--unit));
  border: 1px solid #000;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.akira-container .front-fender__inner__logo__box {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #ea3c13), color-stop(65%, #fff));
  background: linear-gradient(#fff 0% 25%, #ea3c13 25% 65%, #fff 65% 100%);
  border: 1px solid blue;
}

.akira-container .front-fender__inner__logo__circle {
  position: absolute;
  width: calc(25 * var(--unit));
  height: calc(25 * var(--unit));
  background: blue;
  border-radius: 50%;
}

.akira-container .front-fender__inner__logo__circle::before {
  content: "★";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  margin-left: calc(2 * var(--unit));
}

.akira-container .front-fork {
  position: absolute;
  top: 39%;
  left: 20%;
  width: calc(225 * var(--unit));
  height: calc(90 * var(--unit));
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-clip-path: polygon(-8.76% -16px, 95.69% -48.99%, 115.74% 34.85%, -17px 106.76%);
          clip-path: polygon(-8.76% -16px, 95.69% -48.99%, 115.74% 34.85%, -17px 106.76%);
  border-radius: 3px 3px 0 5px;
  background: linear-gradient(170deg, #ea3c13, #8f2814 50% 80%, #782322 95% 100%);
  -webkit-box-shadow: 1px 2px 5px 0px #ea6c57 inset;
          box-shadow: 1px 2px 5px 0px #ea6c57 inset;
  overflow: hidden;
}

.akira-container .front-fork .canon {
  position: absolute;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: 20%;
  left: 20%;
  height: calc(28 * var(--unit));
  background: #fff;
  color: #ea3c13;
  font-size: calc(30 * var(--unit));
  font-family: canon;
  letter-spacing: calc(1 * var(--unit));
  padding: 0 calc(2 * var(--unit));
  border: calc(2 * var(--unit)) solid #ea3c13;
}

.akira-container .front-fork .citizen {
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0%;
  left: 50%;
  height: calc(23 * var(--unit));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #595959), color-stop(20%, #000));
  background: linear-gradient(#595959 10%, #000 20% 100%);
  color: #fff;
  font-size: calc(23 * var(--unit));
  font-family: citizen;
  letter-spacing: calc(1 * var(--unit));
  padding: 0 calc(2 * var(--unit));
}

.akira-container .front-fork .bnw {
  position: absolute;
  top: 45%;
  left: 8%;
  width: calc(35 * var(--unit));
  height: calc(35 * var(--unit));
  background: #fff;
  border-radius: 50%;
  border: calc(2 * var(--unit)) solid #000;
}

.akira-container .front-fork .bnw__inner {
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: calc(2 * var(--unit)) solid #000;
  background-image: linear-gradient(135deg, green 25%, transparent 25%), linear-gradient(225deg, green 25%, transparent 25%), linear-gradient(45deg, green 25%, transparent 25%), linear-gradient(315deg, green 25%, #fff 25%);
  background-position: calc(1 * var(--unit)) calc(13 * var(--unit));
  background-size: calc(25 * var(--unit)) calc(25 * var(--unit));
  background-repeat: repeat;
}

.akira-container .front-deck1 {
  position: absolute;
  top: 35%;
  left: 20%;
  width: calc(80 * var(--unit));
  height: calc(30 * var(--unit));
  background: #53372b;
  border-radius: 5px 0 0 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skew(-50deg);
          transform: skew(-50deg);
  border-radius: 3px 3px 0 5px;
  background: linear-gradient(170deg, #53372b, #20150d);
  -webkit-box-shadow: 4px 2px 3px 0px #c5b4b4 inset;
          box-shadow: 4px 2px 3px 0px #c5b4b4 inset;
}

.akira-container .front-deck2 {
  position: absolute;
  top: 32%;
  left: 24%;
  width: calc(140 * var(--unit));
  height: calc(38 * var(--unit));
  background: #53372b;
  border-radius: 100% 0% 0% 0% / 100% 0% 0% 0%;
  -webkit-transform-origin: center;
          transform-origin: center;
  background: linear-gradient(170deg, #53372b, #20150d);
  -webkit-box-shadow: 2px 2px 3px 0px #997b7a inset;
          box-shadow: 2px 2px 3px 0px #997b7a inset;
}

.akira-container .front-deck3 {
  position: absolute;
  top: 26%;
  left: 36%;
  width: calc(60 * var(--unit));
  height: calc(50 * var(--unit));
  background: #53372b;
  border-radius: 5px 5px 0 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  background: linear-gradient(170deg, #53372b, #20150d);
  -webkit-box-shadow: 2px 2px 2px 0px #af9897 inset;
          box-shadow: 2px 2px 2px 0px #af9897 inset;
}

.akira-container .front-deck3__display {
  position: absolute;
  top: 15%;
  left: 20%;
  width: calc(75 * var(--unit));
  height: calc(35 * var(--unit));
  background: #31211a;
  border-radius: 100% 5px 3px 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skew(-125deg);
          transform: skew(-125deg);
  -webkit-box-shadow: 3px 2px 2px 0px black inset;
          box-shadow: 3px 2px 2px 0px black inset;
}

.akira-container .front-deck3__handle {
  position: absolute;
  top: 40%;
  left: 115%;
  width: calc(15 * var(--unit));
  height: calc(15 * var(--unit));
  background: #53372b;
  border-radius: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  background: linear-gradient(170deg, #ea3c13, #8f2814);
  -webkit-box-shadow: 1px 1px 1px 0px #fa7e61 inset, -1px -1px 2px 0px #782322 inset;
          box-shadow: 1px 1px 1px 0px #fa7e61 inset, -1px -1px 2px 0px #782322 inset;
}

.akira-container .front-deck3__handle::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: black;
  -webkit-box-shadow: -1px -1px 1px 0px #7f6261 inset;
          box-shadow: -1px -1px 1px 0px #7f6261 inset;
}

.akira-container .front-shield {
  opacity: 0.1;
  position: absolute;
  top: 20%;
  left: 16.5%;
  width: calc(280 * var(--unit));
  height: calc(82 * var(--unit));
  background: radial-gradient(circle farthest-side at 98% 110%, transparent 20%, lightblue 20%);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  border-radius: 88% 0% 100% 18% / 100% 0% 0% 0%;
  -webkit-box-shadow: 3px 4px 3px 0px #3a9fc0 inset;
          box-shadow: 3px 4px 3px 0px #3a9fc0 inset;
}

.akira-container .front-shield-back {
  opacity: 0.2;
  position: absolute;
  top: 20%;
  left: 16.5%;
  width: calc(280 * var(--unit));
  height: calc(82 * var(--unit));
  background: radial-gradient(circle farthest-side at 98% 130%, transparent 20%, lightblue 20%);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  border-radius: 88% 0% 100% 18% / 100% 0% 0% 0%;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */