<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../scss/style.css")
        title CSS Akira
    body
        .akira-container
            .front-tire
                .front-tire__rim
                .front-tire__wheel
            .back-tire
                .back-tire__wheel
                    .back-tire__wheel__center
                .back-tire__b-screw
                .back-tire__s-screw
            .back-tire-arm
                .back-tire-arm__first
                .back-tire-arm__second
                .back-tire-arm__third
            .middle-display1
            .seat-front
            .seat
                .seat__back
                .seat__bottom
                    .seat__bottom__kubomi
                .seat__head
            .body-tank
                .body-tank__screw
                    .body-tank__screw__inner
                        .body-tank__screw__inner__line
            .body-seat
                .body-seat__step1
                .body-seat__step2
                .body-seat__bottom
                .body-seat__circle
                .body-seat__back
                    .body-seat__back__head
                        .body-seat__back__head__light
                            .body-seat__back__head__light__inner
                .body-seat__back-bottom
                .body-seat__bottom-box
                    .body-seat__bottom-box__inner
                .body-seat__b-side-part
                    .body-seat__b-side-part__screw
                .body-seat__s-side-part
                    .body-seat__s-side-part__screw
            .front-deck1
            .front-deck3
                .front-deck3__display
                .front-deck3__handle
            .front-deck2

            .front-shield-back
            .front-shield
            .front-fender
                .front-fender__inner
            .front-fork


